h1 {
  @apply text-3xl lg:text-6xl font-bold;
}

h2 {
  @apply text-2xl lg:text-4xl font-bold;
}

h4 {
  @apply text-lg lg:text-3xl;
}

.subtitle {
  @apply text-xl lg:text-3xl text-grey;
}

.gradient {
  background: linear-gradient(
    90deg,
    #b16cea 14.06%,
    #ff5e69 44.79%,
    #ff8a56 71.87%,
    #ffa84b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-2 {
  background: linear-gradient(
    90deg,
    #D267B5 1%,
    #F76076 100.0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-3 {
  background: linear-gradient(
    90deg,
    #FF6965 1%,
    #FF7B5D 100.0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-4 {
  background: linear-gradient(
    90deg,
    #C868C5 1%,
    #EC628A 100.0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-5 {
  background: linear-gradient(
    90deg,
    #FF8C56 1%,
    #FF9951 100.0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-6 {
  background: linear-gradient(
    90deg,
    #B16CEA 1%,
    #B26CE9 100.0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
